body {
    display: block;
}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.navbar-nav {
    margin: auto;
    font-size: 1.3rem;
}
.nav-link {
    margin-top: 10px;
}

.container-teddies {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    margin-left: 30px; 
    margin-right: 30px;

    p {
        text-align: justify;
        border: solid 1px; 
        border-radius: 0.25rem;
        padding: 5px;
    }
    
}
.container-teddies {
.row {
    margin-right: 0px;    
    margin-left: 0px;
}
}

h1 {
    background-color: rgb(116, 80, 39);
    border-radius: 25px;
    box-shadow: 5px 20px 8px 1px rgba(0, 0, 0, 0.5); 
}
.py-3 {
    background-color: #212529;
}
.mt-2, .mb-0 {
    color: aliceblue;
}

body {
.pt-5 {
    background-image: url(https://serving.photos.photobox.com/198556306478658a6a9b151438cc640f9648709b54027ef32df05519302a71d5f5485cfb.jpg);
    background-position: bottom;
    margin-top: 80px;
    background-repeat: no-repeat;
    z-index: 1;
    box-shadow: -1px 2px 170px 1px rgba(0, 0, 0, 0.7);
}
}

