body {
    display: block;
}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.navbar-nav {
    margin: auto;
    font-size: 1.3rem;
}
.nav-link {
    margin-top: 10px;
}

.container-teddies {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    margin-left: 30px; 
    margin-right: 30px;

    p {
        text-align: justify;
    }
    
}
.container-teddies {
.row {
    margin-right: 0px;    
    margin-left: 0px;
}
}

h1 {
    background-color: rgb(116, 80, 39);
    border-radius: 25px;
}