.row {
    margin-left: 0;
    margin-right: 0;
}

.py-31 {
    background-color: #212529;
    position: absolute;
    bottom: 0;
    width: 100%;
    .container {
        justify-content: center!important;
       
    }
}
