
.row {
    margin-left: 0;
    margin-right: 0;
}

.py-31 {
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    .container {
        justify-content: center!important;
       
    }
}

body {
.pt-5 {
    background-image: url(https://serving.photos.photobox.com/198556306478658a6a9b151438cc640f9648709b54027ef32df05519302a71d5f5485cfb.jpg);
}
}
.py-3 {
    background-color: #212529;
    background: linear-gradient(360deg, rgba(70, 70, 70, 0.37), transparent);
}